<main>
<!-- フラッシュメッセージは「application.html」に挿入 -->
  <!-- Bootstrapでレイアウトを整える -->
  <div class="container px-5 px-sm-0">
    <div class="row">

<!-- 部分テンプレートの挿入 -->
  <%= render 'layouts/list', books:@books, book:@book, user:@user %>

<div class="col-md-8 offset-md-1">
  		<h2>Book detail</h2>
  		<table class="table">
  		  <tbody><tr>
          <td><!-- ユーザー画像 --></td>
          <td><%= @book.title %></td>
          <td><%= @book.body %></td>

          <!-- カレントユーザーと投稿ユーザーが一致した場合のみ、投稿の「編集」「削除」が行えるようにする記述 -->
            <% if @book.user == current_user %>
          <td>
            <%= link_to "Edit", edit_book_path(@book), class:"btn btn-sm btn-success" %>
          </td>
          <td>
            <%= link_to "Destroy", book_path(@book), method: :delete, class:"btn btn-sm btn-danger", data: { confirm: "本当に消しますか？" } %>
          </td>
            <% end %>
          <!-- 以上 -->

          </td>
        </tr>
      </tbody></table>
    </div>